---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Stats from '../components/Stats.astro';
import Products from '../components/Products.astro';
import Innovation from '../components/Innovation.astro';
import Capabilities from '../components/Capabilities.astro';
import Services from '../components/Services.astro';
import Industries from '../components/Industries.astro';
import TrustedBy from '../components/TrustedBy.astro';
import Testimonials from '../components/Testimonials.astro';
import Compliance from '../components/Compliance.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Stats />
    <Products />
    <Innovation />
    <Capabilities />
    <Services />
    <Industries />
    <TrustedBy />
    <Testimonials />
    <Compliance />
    <Contact />
  </main>
  <Footer />
</Layout>
